/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #5b5e5b;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  .login-section {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .login-section button {
    margin: 0 5px;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  section {
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%;
  }
  
  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #575a58;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #545554;
  }
  
  #categories-container,
  #tasks-container {
    margin-top: 20px;
  }
  
  .category-item,
  .task-item {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .category-item button,
  .task-item button {
    margin-left: 5px;
  }

  /* models */
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .modal-content input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .modal-content button {
    width: 100%;
  }
  